.navigation
    @include flex-center

    color: $white-1
    padding: 5px 0

    &__list
        align-content: center
        display: flex
        justify-content: space-evenly
        width: 100%

    &__item
        color: $gray-1
        font:
            family: 'Helvetica Neue'
            size: 16px
        letter-spacing: 0.5px
        text-transform: uppercase

        &--selected
            color: $white-2