$glow-color: #494949

$light-side-mobile: 100px
$light-side-tablet: 230px
$light-side-desktop: 240px

.slide
    @include flex-center
    height: calc(100vh - #{$header-height})
    position: relative
    width: 100%
    padding-bottom: 100px

    &__light
        @include absolute-center
        margin-bottom: 300px
        background: #383838
        border-radius: 50%
        position: absolute
        height: $light-side-mobile
        width: $light-side-mobile
        box-shadow: 0 0 50px $glow-color, 0 0 100px $glow-color, 0 0 150px $glow-color, 0 0 200px $glow-color, 0 0 250px $glow-color

    &__card
        position: absolute
        background: transparent

    @include md
        padding-bottom: 0
        &__light
            margin-bottom: auto
            height: $light-side-tablet
            width: $light-side-tablet

    @include lg
        &__light
            height: $light-side-desktop
            width: $light-side-desktop

