@mixin flex-center
    align-items: center
    display: flex
    justify-content: center

@mixin page
    height: 100vh
    padding: $header-height 0 20px
    width: 100vw
    overflow-y: hidden

    @include md
        padding-top: $header-height

@mixin absolute-center
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto