@mixin flex-center
    align-items: center
    display: flex
    justify-content: center

@mixin page
    height: 100vh
    padding-top: $header-height
    width: 100vw

@mixin page-title
    font:
        family: 'Suisse'
        size: 40px
    margin: 0 0 14px

@mixin page-subtitle
    font:
        family: 'Helvetica'
        size: 24px
        weight: 100

@mixin red-border
    border: 1px solid red

@mixin green-border
    border: 1px solid green

@mixin absolute-center
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto