.slider
    @include red-border

    height: 100%
    overflow: hidden
    width: 100%

    &__wrapper
        @include green-border
        height: 100%
        width: 100%

    &__container
        @include red-border
        display: flex
        height: max-content
        flex-direction: column
        width: 100%